<ul class="tree">
    <li class="node-container is-parent">
        <div class="node">
            <span class="node-image"></span>
            <span class="checkbox active"></span>
            <div class="node-content">
                <span class="node-icon"></span>
                <span class="node-text">菜单管理</span>
                <span class="input-area">
                    <input type="text" class="input-text"/>
                </span>
            </div>
            <div class="node-btns">
                <span class="btn-node node-add"></span>
                <span class="btn-node node-edit"></span>
                <span class="btn-node node-delete"></span>
            </div>
        </div>
    </li>
    <li class="node-container is-parent is-open is-edit">
        <div class="node">
            <span class="node-image"></span>
            <span class="checkbox active partial"></span>
            <div class="node-content">
                <span class="node-icon"></span>
                <span class="node-text">菜单管理</span>
                <span class="input-area">
                    <input type="text" class="input-text"/>
                </span>
            </div>
        </div>
        <ul class="tree">
            <li class="node-container is-parent is-loading">
                <div class="node">
                    <span class="node-image"></span>
                    <span class="checkbox active partial disabled"></span>
                    <div class="node-content">
                        <span class="node-icon"></span>
                        <span class="node-text">菜单管理</span>
                    </div>
                </div>
            </li>
            <li class="node-container is-parent is-open">
                <div class="node">
                    <span class="node-image"></span>
                    <div class="node-content">
                        <span class="node-icon"></span>
                        <span class="node-text">菜单管理</span>
                    </div>
                </div>
                <ul class="tree">
                    <li class="node-container is-parent is-loading">
                        <div class="node">
                            <span class="node-image"></span>
                            <div class="node-content">
                                <span class="node-icon"></span>
                                <span class="node-text">菜单管理</span>
                            </div>
                        </div>
                    </li>
                    <li class="node-container is-parent is-open">
                        <div class="node">
                            <span class="node-image"></span>
                            <div class="node-content">
                                <span class="node-icon"></span>
                                <span class="node-text">菜单管理</span>
                            </div>
                        </div>
                    </li>
                    <li class="node-container is-leaf">
                        <div class="node">
                            <span class="node-image"></span>
                            <div class="node-content">
                                <span class="node-icon"></span>
                                <span class="node-text">菜单管理</span>
                            </div>
                        </div>
                    </li>
                    <li class="node-container is-parent">
                        <div class="node">
                            <span class="node-image"></span>
                            <div class="node-content">
                                <span class="node-icon"></span>
                                <span class="node-text">菜单管理</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="node-container is-leaf">
                <div class="node">
                    <span class="node-image"></span>
                    <div class="node-content">
                        <span class="node-icon"></span>
                        <span class="node-text">菜单管理</span>
                    </div>
                </div>
            </li>
            <li class="node-container is-parent">
                <div class="node">
                    <span class="node-image"></span>
                    <div class="node-content">
                        <span class="node-icon"></span>
                        <span class="node-text">菜单管理</span>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li class="node-container is-leaf">
        <div class="node">
            <span class="node-image"></span>
            <div class="node-content">
                <span class="node-icon"></span>
                <span class="node-text">菜单管理</span>
            </div>
        </div>
    </li>
    <li class="node-container is-parent">
        <div class="node">
            <span class="node-image"></span>
            <div class="node-content">
                <span class="node-icon"></span>
                <span class="node-text">菜单管理</span>
            </div>
        </div>
    </li>
</ul>
