<ul class="real-tree">
    <li class="tree-node node-parent">
        <span class="node-image"></span>
        <div class="node-content">
            <span class="node-icon"></span>
            <span class="node-text">菜单管理</span>
        </div>
    </li>
    <li class="tree-node node-parent">
        <span class="node-image"></span>
        <div class="node-content">
            <span class="node-icon"></span>
            <span class="node-text">菜单管理</span>
        </div>
    </li>
    <li class="tree-node node-leaf">
        <span class="node-image"></span>
        <div class="node-content">
            <span class="node-icon"></span>
            <span class="node-text">菜单管理</span>
        </div>
    </li>
    <li class="tree-node node-parent node-open">
        <span class="node-image"></span>
        <div class="node-content">
            <span class="node-icon"></span>
            <span class="node-text">菜单管理</span>
        </div>
        <ul>
            <li class="tree-node node-parent">
                <span class="node-image"></span>
                <div class="node-content">
                    <span class="node-icon"></span>
                    <span class="node-text">菜单管理</span>
                </div>
            </li>
            <li class="tree-node node-parent">
                <span class="node-image"></span>
                <div class="node-content">
                    <span class="node-icon"></span>
                    <span class="node-text">菜单管理</span>
                </div>
            </li>
            <li class="tree-node node-leaf">
                <span class="node-image"></span>
                <div class="node-content">
                    <span class="node-icon"></span>
                    <span class="node-text">菜单管理</span>
                </div>
            </li>
            <li class="tree-node node-parent node-open">
                <span class="node-image"></span>
                <div class="node-content">
                    <span class="node-icon"></span>
                    <span class="node-text">菜单管理</span>
                </div>
            </li>
            <li class="tree-node node-parent node-open node-loading">
                <span class="node-image"></span>
                <div class="node-content">
                    <span class="node-icon"></span>
                    <span class="node-text">菜单管理</span>
                </div>
            </li>
            <li class="tree-node node-leaf">
                <span class="node-image"></span>
                <div class="node-content">
                    <span class="node-icon"></span>
                    <span class="node-text">菜单管理</span>
                </div>
            </li>
            <li class="tree-node node-leaf">
                <span class="node-image"></span>
                <div class="node-content">
                    <span class="node-icon"></span>
                    <span class="node-text">菜单管理</span>
                </div>
            </li>
        </ul>
    </li>
    <li class="tree-node node-parent node-open node-loading">
        <span class="node-image"></span>
        <div class="node-content">
            <span class="node-icon"></span>
            <span class="node-text">菜单管理</span>
        </div>
    </li>
    <li class="tree-node node-leaf">
        <span class="node-image"></span>
        <div class="node-content">
            <span class="node-icon"></span>
            <span class="node-text">菜单管理</span>
        </div>
    </li>
    <li class="tree-node node-leaf">
        <span class="node-image"></span>
        <div class="node-content">
            <span class="node-icon"></span>
            <span class="node-text">菜单管理</span>
        </div>
    </li>
</ul>
